:root {
  /*Color*/
  --color-text: #ffffff;
  --color-text-secondary: #b0b0b0;
  --color-primary: #6366f1;
  --color-primary-dark: #4f46e5;
  --color-secondary: #1e293b;
  --color-dark: #0f172a;
  --color-bg: #030712;
  --color-accent: #10b981;
  --color-danger: #ef4444;

  /*font*/
  --font-roboto: "Roboto";
  --font-outfit: "Outfit";
  
  /*spacing*/
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
}